section.about

    h2.section-heading
        span bran@liang:~$
        span  whoami

    article.about__text

        p
            | My name is Bran Liang(梁博渊️), I'm a 27 years old full stack
            | developer based in Shanghai (currently) and Nanjing (Home), China.
            | I like coding at <a href="https://github.com">Github</a>, and you
            | can find me there at <a href="https://github.com/Branliang">My Profile</a>.

        p
            | I'm a <span> passionate cyber nerd </span> with great interest in
            | open source and devops. In my free time I like to hack on fun
            | projects, play / watch films with friends, exploring interesting places in
            | Shanghai. I am also a little bit alcholic, so if you happen to be in Shanghai,
            | it would be more than happy for me to have a drink🍺 with you somewhere.
