section.contact

    h2.section-heading
        span bran@liang:~$
        span  cat contact.md

    p
        | I'm currently working fulltime at <a href="https://www.aihehuo.com">Aihehuo(爱合伙)</a>,
        | but if you have <span>remote or SH(上海)/NJ(南京) based</span>
        | job openings and you're a cool startup looking for an always curious
        | passionate dev, just ping me on
        | #[a(href="https://github.com/Branliang") Github] and
        | <span>WechatId: lby89757</span>.
        | <br> Or, you can get in touch via
        | #[a(href="mailto:lby89757@hotmail.com") E-mail]
